# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env
.venv
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local development
.DS_Store
*.log
.env.*
*.pem

# Credentials
*.json 